{% extends "nf.html" %}

{% block content%}
<div class="banner_inner_con">
</div>
<div class="services-breadcrumb">
    <div class="inner_breadcrumb">
        <ul class="short">
            <li><a href="{{ url_for('home.index') }}">首页</a><span>|</span></li>
            <li>404</li>
        </ul>
    </div>
</div>
<div class="banner_bottom">
    <div class="container">
        <div class="error-404">
            <h4>404</h4>
            <p>噢！我们还在建设...</p>
            <a class="b-home" href="{{ url_for('home.index') }}">回到首页</a>
        </div>
    </div>
</div>
{% endblock%}